---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>WhatsWhen?</title>
    <link rel="manifest" href="/manifest.webmanifest" />
    <script>
      if ("serviceWorker" in navigator) {
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/sw.js");
        });
      }
    </script>
  </head>
  <body class="w-screen h-screen min-h-0 flex-center bg-light font-albert font-bold">
    <div class="w-[30%] h-full min-h-0 flex flex-col p-4 max-sm:w-full max-md:w-1/2 max-lg:w-1/2">
      <slot />
    </div>
  </body>
</html>

<script type="module">
  import "/src/scripts/buttonHandlers.js";
</script>
