@import "tailwindcss";

@font-face {
  font-family: "Albert Sans";
  src: url("../assets/fonts/AlbertSans-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-albert: "Albert Sans", sans-serif;
  --color-primary: #694cf1;
  --color-background: rgba(255, 255, 255, 0.5);
}

@utility flex-center {
  @apply flex items-center justify-center;
}
@utility bg-blur {
  @apply border border-white/50 backdrop-blur-md;
}
@utility focus-primary {
  @apply ring-primary focus-within:ring-2 focus:outline-none focus-visible:ring-2;
}
@utility transition-animation {
  @apply transition-all duration-200;
}
@utility card-element {
  @apply flex-center bg-blur absolute h-[82%] w-full flex-col justify-start rounded-3xl px-4 py-2 transition-all duration-300;
}

@layer components {
  .btn {
    @apply flex-center focus-primary transition-animation min-h-0 shrink-0 cursor-pointer gap-x-1.5 rounded-full border border-white/50 p-2 text-xs hover:ring-2;
  }
  .btn-circle {
    @apply bg-background h-10 w-10;
  }
  .btn-circle-sm {
    @apply bg-background h-8 w-8;
  }
  .btn-capsule {
    @apply bg-background h-10 w-fit shrink px-4 text-nowrap hover:px-5;
  }
  .btn-navigate-right {
    @apply border-none bg-none hover:ml-1 hover:bg-white/25 hover:ring-0 focus-visible:bg-white/25;
  }
  .btn-navigate-left {
    @apply border-none bg-none hover:mr-1 hover:bg-white/25 hover:ring-0 focus-visible:bg-white/25;
  }
  .btn-popover {
    @apply bg-background h-10 w-20;
  }
  .btn-create-task {
    @apply bg-primary hover:scale-95 hover:bg-violet-600 hover:ring-0;
  }
  .btn-close {
    @apply bg-primary absolute top-3 right-3 h-7 w-7 p-1.5 hover:scale-95 hover:bg-violet-600 hover:ring-0;
  }
  .btn-theme {
    @apply bg-white px-2 py-1 hover:px-2.5;
  }
  .btn-theme-selected {
    @apply bg-primary px-2 py-1 text-white hover:px-2.5;
  }
  .btn-install {
    @apply bg-primary h-10 w-full text-sm text-white;
  }
  .btn-capsule-cancel {
    @apply bg-background h-8 w-fit shrink px-4 text-nowrap hover:px-5;
  }
  .btn-capsule-add {
    @apply bg-primary h-8 w-fit shrink px-4 text-nowrap text-white hover:px-5;
  }
  .date-navigation-capsule-container {
    @apply flex-center bg-blur h-10 min-h-0 w-auto shrink-0 cursor-auto justify-between gap-x-3 rounded-full p-1;
  }
  .capsule-container {
    @apply flex-center bg-blur h-10 min-h-0 w-full cursor-auto justify-between rounded-full px-4 text-xs;
  }
  .capsule-version-container {
    @apply flex-center bg-blur h-10 min-h-0 w-full gap-x-1.5 rounded-full bg-none px-4 text-xs;
  }
}

@layer utilities {
  .app-outter-container {
    @apply font-albert flex h-screen min-h-0 w-screen items-center justify-center bg-neutral-200 font-bold select-none;
  }
  .app-inner-container {
    @apply flex h-full min-h-0 w-[30%] flex-col px-4 py-3 max-lg:w-1/2 max-md:w-1/2 max-sm:w-full;
  }
  .header-row-container {
    @apply flex items-center justify-between py-2;
  }
  .main-container {
    perspective: 1000px;
    @apply my-2 min-h-0 w-full flex-1;
  }
  .cards-container {
    @apply flex-center relative h-full w-full flex-col overflow-hidden;
  }
  .footer-container {
    @apply flex-center min-h-0 w-full justify-between py-2;
  }
  .header-title {
    @apply flex-center justify-start gap-2 rounded-full px-3 py-1 focus:outline-none;
  }

  .card {
    position: absolute;
    top: 100%;
    scale: 0.92;
    /* transition: all 0.3s ease; */
  }

  .card.prev {
    top: 0%;
  }

  .card.active {
    top: 16.5%;
    scale: 1;
  }

  .card.next {
    top: 84%;
  }

  .modal-container {
    @apply font-albert bg-background fixed inset-0 z-10 m-auto h-fit max-h-[80%] w-[28%] overflow-y-auto rounded-3xl border border-white/50 px-4 py-3 text-sm font-bold backdrop-blur-md focus:outline-none max-lg:w-[46%] max-sm:w-11/12;
  }
  .menu-row-container {
    @apply flex w-full gap-2 font-medium;
  }
  .accordian-summary {
    @apply bg-blur flex-center ring-primary transition-animation focus-primary h-10 min-h-0 w-full cursor-pointer justify-start gap-x-2 rounded-full px-4 text-xs duration-200 select-none hover:ring-2;
  }
  .accordian-details {
    @apply bg-blur my-2 w-full rounded-2xl px-4 py-2.5 text-xs;
  }

  .create-task-form {
    @apply my-2 flex flex-col gap-3 rounded-2xl text-xs font-medium focus:outline-none;
  }
  .form-row-container {
    @apply flex w-full items-stretch gap-2;
  }
  .form-input {
    @apply bg-background focus-primary h-10 w-full rounded-full border border-white px-4;
  }

  .day-select {
    @apply flex-center peer-checked:bg-primary peer-checked:hover:bg-background ring-primary rounded-xl bg-white px-2 py-1 peer-checked:border-transparent peer-checked:text-white hover:ring-2 peer-checked:hover:text-neutral-500 peer-checked:hover:ring-0;
  }
  .color-dot {
    @apply ring-primary flex h-6 w-6 cursor-pointer rounded-full border border-white/30 ring-offset-1 peer-checked:ring-2 hover:ring-2;
  }

  .todo-checkbox-large {
    @apply flex-center peer-checked:bg-primary mt-0.5 h-4 w-4 shrink-0 rounded-full border border-black text-transparent transition-all peer-checked:border-none peer-checked:text-white;
  }
  .todo-text {
    @apply text-sm text-black decoration-black/50 decoration-2 peer-checked:line-through;
  }

  .btn-popover[popovertarget="taskCountPopover"] {
    anchor-name: --popover-button-tasks;
  }
  .popover-body.popover-task-count {
    position-anchor: --popover-button-tasks;
    left: anchor(left);
  }
  .btn-popover[popovertarget="taskPercentagePopover"] {
    anchor-name: --popover-button-progression;
  }
  .popover-body.popover-task-percentage {
    position-anchor: --popover-button-progression;
    left: auto;
    right: anchor(right);
  }
  .popover-body {
    top: anchor(bottom);
    transition:
      display 200ms,
      opacity 200ms;
    transition-behavior: allow-discrete;
    @apply bg-blur bg-background transition-animation mt-2 w-44 translate-y-0 scale-100 rounded-2xl px-4 py-2.5 text-sm opacity-100 focus:outline-none;
    @starting-style {
      @apply -translate-y-full scale-0 opacity-0;
    }
  }

  .popover-wrapper:has(.popover-body:popover-open) .btn-popover {
    @apply ring-primary ring-2;
  }

  .enter-transition {
    @apply transition-animation translate-y-0 scale-100 opacity-100;
    @starting-style {
      @apply -translate-y-full scale-0 opacity-0;
    }
  }
}
