@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

.albert-sans-medium {
  font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.albert-sans-semibold {
  font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.albert-sans-bold {
  font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


@theme {
  --font-albert: "Albert Sans", sans-serif;
  --color-primary: #694cf1;
  --color-my-yellow: #fdc742;
  --color-light: theme(colors.neutral.200);
}

@utility flex-center {
  @apply flex justify-center items-center;
}

@utility card-element {
  @apply w-full h-[82%] rounded-3xl flex-none absolute transition-all duration-300;
}
