---
import PomodoroTimerInput from "./PomodoroTimerInput.astro";
---

<template id="pomodoroTimerTemplate">
  <div class="flex-center w-full gap-2 text-base font-bold text-neutral-800">
    <PomodoroTimerInput value="25:00" />
    <PomodoroTimerInput value="05:00" />
  </div>
  <div class="flex-center w-full gap-2 text-base font-bold text-neutral-800">
    <PomodoroTimerInput value="25:00" />
    <PomodoroTimerInput value="05:00" />
  </div>
  <div class="flex-center w-full gap-2 text-base font-bold text-neutral-800">
    <PomodoroTimerInput value="25:00" />
    <PomodoroTimerInput value="05:00" />
  </div>
  <div class="flex-center w-full gap-2 text-base font-bold text-neutral-800">
    <PomodoroTimerInput value="25:00" />
    <PomodoroTimerInput value="15:00" />
  </div>
</template>
