<template id="addTodoTemplate">
  <li class="flex-center justify-start rounded-xl px-2 mx-2">
    <span class="w-3 h-3 rounded-full border border-black shrink-0 absolute"></span>
    <input type="text" placeholder="To-do" class="w-full focus:outline-none px-5 my-1" />
  </li>
</template>
