---
// const { cardData = {} } = Astro.props;

// const iso = cardData.startsAt;
// const time = new Date(iso).toLocaleTimeString('en-US', {
//   hour: '2-digit',
//   minute: '2-digit',
//   hour12: true
// });

---

<div class="w-full h-[14.5%] max-sm:h-[13.5%] rounded-t-3xl flex-center justify-between py-2 select-none">
  <span class="bg-white/40 rounded-full h-[6vh] aspect-square flex-center text-[3vh]" data-card-icon></span>
  <div class="flex flex-col justify-center h-fit">
    <h1 class="text-lg w-52 truncate text-black" data-card-title title="Change this"></h1>
    <time class="text-sm text-black/30" data-card-time></time>
  </div>
  <span class="rounded-full h-[6vh] aspect-square flex-center text-[5vh] text-white/50" data-card-id></span>
</div>

<div class="w-full mt-2 max-sm:mt-3.5">
  <span class="bg-white/40 rounded-full text-xs py-2 px-3" data-card-tag></span>
</div>
