---
import IconDisplay from "./IconDisplay.astro";
---

<div class="w-full flex justify-between select-none pb-[7vh] max-sm:pb-[8.5vh]">
  <time class="rounded-full bg-white/40 py-1.5 px-4 tracking-wider font-semibold">01:30:59</time>
  <div class="flex-center gap-2">
    <button type="button" class="circle-btn-mini">
      <IconDisplay svgIcon="trash" svgSize="16" />
    </button>
    <button type="button" class="circle-btn-mini">
      <IconDisplay svgIcon="pencil" svgSize="16" />
    </button>
  </div>
</div>
