---
import IconDisplay from "./IconDisplay.astro";

interface Todo {
  text: string;
  done: boolean;
}

const { cardData = {} } = Astro.props;
const todos: Todo[] = cardData.todos || [];
---

<ul class="w-full h-full px-4 py-2.5 min-h-0 rounded-2xl bg-white/20 my-4 overflow-y-auto font-medium ">
  <li class="mb-2">
    <p>
      {cardData.description}
    </p>
  </li>

  {
    todos.map((todo: Todo) => (
      <li class="mb-2">
        <label class="cursor-pointer inline-flex gap-2 items-start">
          <input type="checkbox" class="hidden peer" {...(todo.done ? { checked: true } : {})} />
          <span class="todo-checkbox-large">
            <IconDisplay svgIcon="check-todo" svgSize="12" />
          </span>
          <span class="todo-text">{todo.text}</span>
        </label>
      </li>
    ))
  }
</ul>
