<div class="popover-wrapper">
  <button popovertarget="completedTasksPopover" class="circle-btn w-20 popover-btn">
    <span id="completedTasks" class="text-xl">3</span><span id="totalTasks" class="text-xs text-primary pt-1">/99</span>
  </button>
  
  <dialog id="completedTasksPopover" popover="hint" role="tooltip" class="popover-body popover-tasks">
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
  </dialog>
</div>

