---
import CircleBtn from "./CircleBtn.astro";
---

<label role="button" class="rounded-full focus-primary">
  <input id="datePickerInput" type="date" class="sr-only" tabindex="-1" />
  <CircleBtn svgIcon="calendar" svgSize="20" action="datePicker" />
</label>
