---
import IconDisplay from "./IconDisplay.astro";
---

<span id="dateNavigationDisplay" class="circle-btn w-auto justify-between gap-x-3 p-1 ring-0 cursor-auto">
  <button type="button" class="date-navigation-btn hover:mr-1" data-action="goToPrevDay">
    <IconDisplay svgIcon="caret-left" svgSize="16" />
  </button>

  <!-- Today / Tomorrow / Yesterday / ... -->
  <span id="dateInfo" class="text-base"></span> 
  
  <button type="button" class="date-navigation-btn hover:ml-1" data-action="goToNextDay">
    <IconDisplay svgIcon="caret-right" svgSize="16" />
  </button>
</span>
