---
import Accordion from "./Accordion.astro";
import CapsuleBtn from "./CapsuleBtn.astro";
import CircleBtn from "./CircleBtn.astro";
import IconDisplay from "./IconDisplay.astro";
---

<div class="mt-4 font-medium w-full flex gap-2 text-neutral-800">
  <div class="rounded-full h-10 px-4 w-full bg-white/50 border border-white flex-center ring-primary min-h-0 transition-colors duration-200 gap-x-2 focus-primary select-none">
    <h3>Theme</h3>
    <label class="cursor-pointer focus-within:ring-2 focus-within:ring-primary rounded-full text-xs text-neutral-500">
      <input type="radio" name="theme" class="sr-only peer" data-role="once" checked />
      <span class="day-select rounded-full"> Light </span>
    </label>
    <label class="cursor-pointer focus-within:ring-2 focus-within:ring-primary rounded-full text-xs text-neutral-500">
      <input type="radio" name="theme" class="sr-only peer" data-role="once" />
      <span class="day-select rounded-full"> Dark </span>
    </label>
  </div>
  <CapsuleBtn svgIcon="command" svgSize="14" text="Shortcuts" classList={["w-fit", "text-sm"]} action="" />
</div>

<div class="mt-3 font-medium w-full flex flex-col gap-3 text-neutral-800">

  <div class="font-medium w-full flex gap-2">
    <CapsuleBtn svgIcon="download" svgSize="16" text="Install The App" classList={["w-full", "text-sm", "bg-primary", "text-white"]} />
  </div>

  <!-- <Accordion svgIcon="download" svgSize="16" text="Download">
    <p class="rounded-2xl my-2 px-4 py-2.5 w-full bg-white/50 border border-white">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem sapiente similique natus eos incidunt esse, maxime labore repellat officia nulla rerum nihil necessitatibus harum aperiam sit! Facere eaque voluptates tempore?
    </p>
  </Accordion> -->

  <Accordion svgIcon="info" svgSize="16" text="About WhatsWhen?">
    <p class="rounded-2xl my-2 px-4 py-2.5 w-full bg-white/50 border border-white">
      Since all our projects are completely free and don't collect or sell your data, voluntary donations are our only source of funding. Your support is extremely important to us, as it allows us to continue developing and updating our projects.
      Developed by: Behnam Azg
    </p>
  </Accordion>

  <Accordion svgIcon="import" svgSize="16" text="Import / Export Data">
    <p class="rounded-2xl my-2 px-4 py-2.5 w-full bg-white/50 border border-white">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem sapiente similique natus eos incidunt esse, maxime labore repellat officia nulla rerum nihil.</p>
    <div class="w-full flex gap-2 mb-2">
      <CapsuleBtn svgIcon="download" svgSize="16" text="Import Data" classList={["w-full", "text-sm"]} />
      <CapsuleBtn svgIcon="export" svgSize="16" text="Export Data" classList={["w-full", "text-sm"]} />
    </div>
  </Accordion>

  <Accordion svgIcon="bug" svgSize="16" text="Report Bugs / Feedback">
    <p class="rounded-2xl my-2 px-4 py-2.5 w-full bg-white/50 border border-white">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem sapiente similique natus eos incidunt esse, maxime labore repellat officia nulla rerum nihil.</p>
    <div class="w-full flex gap-2 mb-2">
      <CapsuleBtn svgIcon="bug" svgSize="16" text="Report Bugs" classList={["w-full", "text-sm"]} />
      <CapsuleBtn svgIcon="feedback" svgSize="16" text="Feedback" classList={["w-full", "text-sm"]} />
    </div>
  </Accordion>

   

  <div class="font-medium w-full flex gap-2">
    <!-- <CircleBtn svgIcon="globe" svgSize="16" classList={["backdrop-blur-none"]} action="" /> -->
    <CapsuleBtn svgIcon="github" svgSize="14" text="Github" classList={["w-1/2", "text-sm"]} />
    <CapsuleBtn svgIcon="clipboard" svgSize="14" text="Release Notes" classList={["w-full", "text-sm"]} />
  </div>

  <div class="font-medium w-full flex gap-2">
    <CapsuleBtn svgIcon="heart" svgSize="14" svgColor="text-red-600" text="Donate" classList={["w-full", "text-sm", "font-bold", "bg-amber-300/50", "border-white"]} />
    <CapsuleBtn svgIcon="share" svgSize="14" text="Share" classList={["w-1/2", "text-sm"]} />
  </div>

  <div class="font-medium w-full flex gap-2">
    <button type="button" class="circle-btn shrink px-4 min-h-0 gap-x-1.5 backdrop-blur-none text-neutral-500 w-full select-all" data-action="copyToClipboard">
      <IconDisplay svgIcon="code" svgSize="14" />
      <span>Version 1.0.0 - 2026-01-01</span>
    </button>
  </div>

  <a href="" target="_blank" class="my-1 rounded-2xl text-[10px] w-full text-center text-neutral-500 hover:underline cursor-pointer select-none">
    &copy; 2026 WhatsWhen? - All Rights Reserved.
  </a>
</div>
