---

---

<div class="mt-4 font-medium w-full flex gap-2 text-neutral-800">
  <div class="rounded-full h-10 px-4 w-full bg-white/50 border border-white flex-center ring-primary min-h-0 transition-colors duration-200 gap-x-2 focus-primary select-none">
    <h3>Theme</h3>
    <label class="cursor-pointer focus-within:ring-2 focus-within:ring-primary rounded-full text-xs text-neutral-500">
      <input type="radio" name="theme" class="sr-only peer" data-role="once" checked />
      <span class="day-select rounded-full"> Light </span>
    </label>
    <label class="cursor-pointer focus-within:ring-2 focus-within:ring-primary rounded-full text-xs text-neutral-500">
      <input type="radio" name="theme" class="sr-only peer" data-role="once" />
      <span class="day-select rounded-full"> Dark </span>
    </label>
  </div>
  <div class="rounded-full h-10 px-4 w-full bg-white/50 border border-white flex-center cursor-pointer ring-primary hover:ring-2 min-h-0 transition-colors duration-200 gap-x-2 focus-primary select-none">
    <svg width="14" height="14" fill="currentColor">
      <use href="/src/assets/icons/icons.svg#icon-command"></use>
    </svg>
    <h3>Shortcuts</h3>
  </div>
</div>

<div class="mt-3 font-medium w-full flex flex-col gap-3 text-neutral-800">
  <details class="rounded-3xl w-full">
    <summary class="rounded-full h-10 px-4 w-full bg-white/50 border border-white flex-center justify-start cursor-pointer ring-primary hover:ring-2 min-h-0 transition-colors duration-200 gap-x-2 focus-primary select-none">
      <svg width="16" height="16" fill="currentColor">
        <use href="/src/assets/icons/icons.svg#icon-download"></use>
      </svg>
      <span>Download</span>
      <svg width="14" height="14" fill="currentColor" class="ml-auto">
        <use href="/src/assets/icons/icons.svg#icon-arrow-down"></use>
      </svg>
    </summary>
    <p class="rounded-2xl my-2 px-4 py-2.5 w-full bg-white/50 border border-white">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem sapiente similique natus eos incidunt esse, maxime labore repellat officia nulla rerum nihil necessitatibus harum aperiam sit! Facere eaque voluptates tempore?
    </p>
  </details>

  <details class="rounded-3xl w-full">
    <summary class="rounded-full h-10 px-4 w-full bg-white/50 border border-white flex-center justify-start cursor-pointer ring-primary hover:ring-2 min-h-0 transition-colors duration-200 gap-x-2 focus-primary select-none">
      <svg width="16" height="16" fill="currentColor">
        <use href="/src/assets/icons/icons.svg#icon-import"></use>
      </svg>
      <span>Import / Export Data</span>
      <svg width="14" height="14" fill="currentColor" class="ml-auto">
        <use href="/src/assets/icons/icons.svg#icon-arrow-down"></use>
      </svg>
    </summary>
    <p class="rounded-2xl my-2 px-4 py-2.5 w-full bg-white/50 border border-white">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem sapiente similique natus eos incidunt esse, maxime labore repellat officia nulla rerum nihil.</p>
    <div class="w-full flex gap-2 mb-2">
      <button class="rounded-full h-10 px-4 w-full bg-white/50 border border-white flex-center cursor-pointer ring-primary hover:ring-2 min-h-0 transition-colors duration-200 gap-x-2 focus-primary select-none">
        <svg width="16" height="16" fill="currentColor">
          <use href="/src/assets/icons/icons.svg#icon-download"></use>
        </svg>
        <span>Import Data</span>
      </button>
      <button class="rounded-full h-10 px-4 w-full bg-white/50 border border-white flex-center cursor-pointer ring-primary hover:ring-2 min-h-0 transition-colors duration-200 gap-x-2 focus-primary select-none">
        <svg width="16" height="16" fill="currentColor">
          <use href="/src/assets/icons/icons.svg#icon-export"></use>
        </svg>
        <span>Export Data</span>
      </button>
    </div>
  </details>

  <details class="rounded-3xl w-full">
    <summary class="rounded-full h-10 px-4 w-full bg-white/50 border border-white flex-center justify-start cursor-pointer ring-primary hover:ring-2 min-h-0 transition-colors duration-200 gap-x-2 focus-primary select-none">
      <svg width="16" height="16" fill="currentColor">
        <use href="/src/assets/icons/icons.svg#icon-bug"></use>
      </svg>
      <span>Report Bugs / Feedback</span>
      <svg width="14" height="14" fill="currentColor" class="ml-auto">
        <use href="/src/assets/icons/icons.svg#icon-arrow-down"></use>
      </svg>
    </summary>
    <p class="rounded-2xl my-2 px-4 py-2.5 w-full bg-white/50 border border-white">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem sapiente similique natus eos incidunt esse, maxime labore repellat officia nulla rerum nihil.</p>
    <div class="w-full flex gap-2 mb-2">
      <button class="rounded-full h-10 px-4 w-full bg-white/50 border border-white flex-center cursor-pointer ring-primary hover:ring-2 min-h-0 transition-colors duration-200 gap-x-2 focus-primary select-none">
        <svg width="14" height="14" fill="currentColor">
          <use href="/src/assets/icons/icons.svg#icon-bug"></use>
        </svg>
        <span>Report Bugs</span>
      </button>
      <button class="rounded-full h-10 px-4 w-full bg-white/50 border border-white flex-center cursor-pointer ring-primary hover:ring-2 min-h-0 transition-colors duration-200 gap-x-2 focus-primary select-none">
        <svg width="14" height="14" fill="currentColor">
          <use href="/src/assets/icons/icons.svg#icon-feedback"></use>
        </svg>
        <span>Feedback</span>
      </button>
    </div>
  </details>

  <details class="rounded-3xl w-full">
    <summary class="rounded-full h-10 px-4 w-full bg-white/50 border border-white flex-center justify-start cursor-pointer ring-primary hover:ring-2 min-h-0 transition-colors duration-200 gap-x-2 focus-primary select-none">
      <svg width="16" height="16" fill="currentColor">
        <use href="/src/assets/icons/icons.svg#icon-info"></use>
      </svg>
      <span>About WhatsWhen?</span>
      <svg width="14" height="14" fill="currentColor" class="ml-auto">
        <use href="/src/assets/icons/icons.svg#icon-arrow-down"></use>
      </svg>
    </summary>
    <p class="rounded-2xl my-2 px-4 py-2.5 w-full bg-white/50 border border-white">
      Since all our projects are completely free and don't collect or sell your data, voluntary donations are our only source of funding. Your support is extremely important to us, as it allows us to continue developing and updating our projects.
      Developed by: Behnam Azg
    </p>
  </details>

  <div class="font-medium w-full flex gap-2 text-neutral-800">
    <button class="rounded-full h-10 w-10 aspect-square bg-white/50 border border-white flex-center cursor-pointer ring-primary hover:ring-2 min-h-0 transition-colors duration-200 gap-x-2 focus-primary select-none">
      <svg width="16" height="16" fill="currentColor">
        <use href="/src/assets/icons/icons.svg#icon-globe"></use>
      </svg>
    </button>
    <button class="rounded-full h-10 px-4 w-fit bg-white/50 border border-white flex-center cursor-pointer ring-primary hover:ring-2 min-h-0 transition-colors duration-200 gap-x-2 focus-primary select-none">
      <svg width="14" height="14" fill="currentColor">
        <use href="/src/assets/icons/icons.svg#icon-github"></use>
      </svg>
      <h3>Github</h3>
    </button>
    <button class="rounded-full h-10 px-4 w-full bg-white/50 border border-white flex-center cursor-pointer ring-primary hover:ring-2 min-h-0 transition-colors duration-200 gap-x-2 focus-primary select-none">
      <svg width="14" height="14" fill="currentColor">
        <use href="/src/assets/icons/icons.svg#icon-clipboard"></use>
      </svg>
      <h3>Release Notes</h3>
    </button>
  </div>

  <div class="font-medium w-full flex gap-2 text-neutral-800">
    <button class="rounded-full h-10 px-4 w-full bg-amber-300/50 border border-white flex-center cursor-pointer ring-primary hover:ring-2 min-h-0 transition-colors duration-200 gap-x-2 focus-primary select-none font-bold">
      <svg width="14" height="14" fill="currentColor" class="text-red-600">
        <use href="/src/assets/icons/icons.svg#icon-heart"></use>
      </svg>
      <h3>Donate</h3>
    </button>
  </div>

  <div class="font-medium w-full flex gap-2 text-neutral-800">
    <button class="rounded-full h-10 px-4 w-full bg-white/50 border border-white flex-center ring-primary min-h-0 transition-colors duration-200 gap-x-2 focus-primary select-none text-neutral-500">
      <svg width="14" height="14" fill="currentColor">
        <use href="/src/assets/icons/icons.svg#icon-code"></use>
      </svg>
      <h3 class="text-xs">Version 1.0.0 - 2026-01-01</h3>
    </button>
  </div>

  <a class="my-1 rounded-2xl text-[10px] w-full text-center text-neutral-500 hover:underline cursor-pointer select-none"> &copy; 2026 WhatsWhen? - All Rights Reserved. </a>
</div>
