<div class="popover-wrapper">
  <button popovertarget="progressionPopover" class="circle-btn w-20 popover-btn">
    <span id="percentDay" class="text-xl">56</span><span class="text-xs text-primary pt-1">%</span>
  </button>
  
  <dialog id="progressionPopover" popover="hint" role="tooltip" class="popover-body popover-progression">
    Lorem ipsum dolor sit amet consectetur adipisicing elit 2.
  </dialog>
</div>