---
const { text, role, value, isChecked = false } = Astro.props;
---

<label class="cursor-pointer focus-within:ring-2 focus-within:ring-primary rounded-full">
  <input type="checkbox" class="sr-only peer" data-role={role} checked={isChecked} value={value} />
  <span class="day-select"> {text} </span>
</label>
