@import "tailwindcss";

@font-face {
  font-family: "Albert Sans";
  src: url("./assets/fonts/AlbertSans-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-albert: "Albert Sans", sans-serif;
  --color-primary: #694cf1;
  --color-background: rgba(255, 255, 255, 0.5);
}

@utility flex-center {
  @apply flex justify-center items-center;
}
@utility bg-blur {
  @apply backdrop-blur-md border border-white/50;
}
@utility focus-primary {
  @apply focus:outline-none ring-primary focus-visible:ring-2  focus-within:ring-2;
}
@utility transition-animation {
  @apply transition-all duration-200;
}
@utility card-element {
  @apply w-full h-[82%] rounded-3xl flex-center flex-col justify-start absolute transition-all duration-300 bg-blur px-4;
}

@layer components {
  .btn {
    @apply cursor-pointer flex-center shrink-0 rounded-full border border-white/50 text-xs focus-primary hover:ring-2 min-h-0 gap-x-1.5 p-2 transition-animation;
  }
  .btn-circle {
    @apply w-10 h-10 bg-background;
  }
  .btn-capsule {
    @apply w-fit h-10 px-4 shrink  bg-background hover:px-5 text-nowrap;
  }
  .btn-navigate-right {
    @apply bg-none hover:bg-white/25 focus-visible:bg-white/25 hover:ml-1 border-none hover:ring-0;
  }
  .btn-navigate-left {
    @apply bg-none hover:bg-white/25 focus-visible:bg-white/25 hover:mr-1 border-none hover:ring-0;
  }
  .btn-popover {
    @apply h-10 w-20 bg-background;
  }
  .btn-create-task {
    @apply bg-primary hover:bg-violet-600 hover:scale-95 hover:ring-0;
  }
  .btn-close {
    @apply bg-primary p-1.5 hover:bg-violet-600 hover:scale-95 absolute top-3 right-3 w-7 h-7 hover:ring-0;
  }
  .btn-theme {
    @apply bg-white px-2 py-1 hover:px-2.5;
  }
  .btn-theme-selected {
    @apply bg-primary px-2 py-1 text-white hover:px-2.5;
  }
  .btn-install {
    @apply w-full h-10 text-sm bg-primary text-white;
  }
  .date-navigation-capsule-container {
    @apply cursor-auto flex-center justify-between shrink-0 rounded-full bg-blur min-h-0 gap-x-3 p-1 w-auto h-10;
  }
  .capsule-container {
    @apply cursor-auto flex-center justify-between rounded-full bg-blur  min-h-0 text-xs px-4 w-full h-10;
  }
  .capsule-version-container {
    @apply flex-center rounded-full bg-blur bg-none min-h-0 text-xs px-4 w-full h-10  gap-x-1.5;
  }
}

@layer utilities {
  .app-outter-container {
    @apply w-screen h-screen min-h-0 select-none flex justify-center items-center bg-neutral-200 font-albert font-bold;
  }
  .app-inner-container {
    @apply w-[30%] h-full min-h-0 flex flex-col px-4 py-3 max-sm:w-full max-md:w-1/2 max-lg:w-1/2;
  }
  .header-row-container {
    @apply flex justify-between items-center py-2;
  }
  .main-container {
    perspective: 1000px;
    @apply w-full min-h-0 flex-1 my-2;
  }
  .cards-container {
    @apply relative flex-center flex-col w-full h-full overflow-hidden;
  }
  .footer-container {
    @apply w-full min-h-0 flex-center justify-between py-2;
  }
  .header-title {
    @apply rounded-full py-1 flex-center justify-start gap-2 px-3 focus:outline-none;
  }

  .card {
    position: absolute;
    top: 100%;
    scale: 0.92;
    /* transition: all 0.3s ease; */
  }

  .card.prev {
    top: 0%;
  }

  .card.active {
    top: 14.5%;
    scale: 1;
  }

  .card.next {
    top: 86%;
  }

  .modal-container {
    @apply fixed z-10 inset-0 m-auto max-sm:w-11/12 max-lg:w-[46%] w-[28%] rounded-3xl font-albert font-bold py-3 px-4 bg-background backdrop-blur-md border border-white/50 text-sm focus:outline-none h-fit max-h-[80%] overflow-y-auto;
  }
  .menu-row-container {
    @apply font-medium w-full flex gap-2;
  }
  .accordian-summary {
    @apply rounded-full text-xs h-10 px-4 w-full bg-blur flex-center justify-start cursor-pointer ring-primary hover:ring-2 min-h-0 transition-animation duration-200 gap-x-2 focus-primary select-none;
  }
  .accordian-details {
    @apply rounded-2xl text-xs my-2 px-4 py-2.5 w-full bg-blur;
  }

  .create-task-form {
    @apply font-medium text-xs my-2 flex flex-col gap-3 focus:outline-none rounded-2xl;
  }
  .form-row-container {
    @apply w-full flex gap-2 items-stretch;
  }
  .form-input {
    @apply rounded-full h-10 px-4 w-full bg-background border border-white focus-primary;
  }

  .day-select {
    @apply bg-white rounded-xl px-2 py-1 flex-center peer-checked:bg-primary peer-checked:text-white peer-checked:border-transparent peer-checked:hover:bg-background peer-checked:hover:text-neutral-500 ring-primary hover:ring-2 peer-checked:hover:ring-0;
  }
  .color-dot {
    @apply flex w-6 h-6 rounded-full cursor-pointer border border-white/30 peer-checked:ring-2 ring-primary ring-offset-1 hover:ring-2;
  }

  .todo-checkbox-large {
    @apply w-4 h-4 rounded-full border flex-center peer-checked:bg-primary peer-checked:border-none border-black transition-all text-transparent peer-checked:text-white shrink-0 mt-0.5;
  }
  .todo-text {
    @apply text-black text-sm peer-checked:line-through decoration-2 decoration-black/50;
  }

  .btn-popover[popovertarget="taskCountPopover"] {
    anchor-name: --popover-button-tasks;
  }
  .popover-body.popover-task-count {
    position-anchor: --popover-button-tasks;
    left: anchor(left);
  }
  .btn-popover[popovertarget="taskPercentagePopover"] {
    anchor-name: --popover-button-progression;
  }
  .popover-body.popover-task-percentage {
    position-anchor: --popover-button-progression;
    left: auto;
    right: anchor(right);
  }
  .popover-body {
    top: anchor(bottom);
    transition:
      display 200ms,
      opacity 200ms;
    transition-behavior: allow-discrete;
    @apply bg-blur text-sm mt-2 px-4 py-2.5 rounded-2xl w-44 opacity-100 bg-background focus:outline-none scale-100 translate-y-0 transition-animation;
    @starting-style {
      @apply opacity-0 scale-0 -translate-y-full;
    }
  }

  .popover-wrapper:has(.popover-body:popover-open) .btn-popover {
    @apply ring-2 ring-primary;
  }

  .enter-transition {
    @apply opacity-100 scale-100 translate-y-0 transition-animation;
    @starting-style {
      @apply opacity-0 scale-0 -translate-y-full;
    }
  }
}
